/* Gruvbox theme - Waybar */

/* Neutral palette */
@define-color neutral-0  #1D2021;
@define-color neutral-1  #282828;
@define-color neutral-2  #3C3836;
@define-color neutral-3  #504945;
@define-color neutral-4  #665C54;
@define-color neutral-5  #7C6F64;
@define-color neutral-6  #928374;
@define-color neutral-7  #A89984;
@define-color neutral-8  #BDAE93;
@define-color neutral-9  #D5C4A1;
@define-color neutral-10 #EBDBB2;

/* Semantic colors */
@define-color bg-primary            @neutral-1;
@define-color bg-primary-hover      @neutral-2;
@define-color bg-primary-active     @neutral-9;

@define-color bg-secondary          @neutral-2;
@define-color bg-secondary-hover    @neutral-3;
@define-color bg-secondary-active   @neutral-8;

@define-color bg-tertiary           @neutral-3;
@define-color bg-tertiary-hover     @neutral-4;
@define-color bg-tertiary-active    @neutral-7;

@define-color content-primary         @neutral-9;
@define-color content-primary-active  @neutral-1;

@define-color content-secondary       @neutral-8;
@define-color content-tertiary        @neutral-7;

@define-color stroke-primary          @neutral-5;
@define-color stroke-secondary        @neutral-4;
@define-color stroke-tertiary         @neutral-3;

/* Accents */
@define-color accent-red     #FB4934;
@define-color accent-green   #B8BB26;
@define-color accent-yellow  #FABD2F;
@define-color accent-blue    #83A598;
@define-color accent-purple  #D3869B;
@define-color accent-aqua    #8EC07C;
@define-color accent-orange  #FE8019;
