@import 'theme.css';

* {
  /* Reset all default properties */
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;

  font-family: 'Google Sans', 'JetBrainsMono Nerd Font Propo';
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
}

/* All module groups or individual modules should have same surface and spacings */
.module {
  min-height: 24px;
  min-width: 24px;
}

#workspaces,
#clock,
#tray,
#pulseaudio,
#backlight,
#net-bt,
#battery,
#language,
#custom-power {
  background-color: @bg-primary;
  color: @content-primary;
  border-radius: 6px;
  padding: 6px 10px;
}

#tray,
#net-bt,
#battery,
#pulseaudio,
#backlight,
#language {
  margin-right: 8px;
}

/* Consistent style for all tooltips */
tooltip {
  background-color: @bg-primary;
  border: 2px solid @stroke-primary;
  border-radius: 6px;
}

tooltip label {
  color: @content-primary;
}

/* Styles for workspace module */
#workspaces button {
  background-color: @bg-secondary;
  color: @content-primary;
  border-radius: 4px;
  min-width: 24px;
  min-height: 24px;
  margin-right: 6px;
  transition: all ease-in 200ms;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  background-color: @bg-secondary-hover;
}

#workspaces button.active {
  background-color: @bg-primary-active;
  color: @content-primary-active;
}

/* Make power button square */
#custom-power {
  font-size: 16px;
  padding: 6px;
}

#custom-power:hover {
  background-color: @bg-primary-active;
  color: @content-primary-active;
  transition: all ease-in 200ms;
}
