@import 'theme.css';

* {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  font-family: 'Google Sans', 'JetBrainsMono Nerd Font Propo';
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
}

.module {
  min-height: 24px;
  min-width: 24px;
}

#workspaces,
#clock,
#tray,
#pulseaudio,
#backlight,
#net-bt,
#battery,
#language,
#custom-power {
  background-color: @dark1;
  color: @light2;
  border-radius: 6px;
  padding: 6px 10px;
}

#tray,
#net-bt,
#battery,
#pulseaudio,
#backlight,
#language {
  margin-right: 8px;
}

tooltip {
  background-color: @dark1;
  border: 1px solid @dark3;
  border-radius: 6px;
}

tooltip label {
  color: @light2;
}

#workspaces button {
  background-color: @dark2;
  color: @light2;
  border-radius: 4px;
  min-width: 24px;
  min-height: 24px;
  margin-right: 6px;
  transition: all ease-in 200ms;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  background-color: @dark3;
}

#workspaces button.active {
  background-color: @light3;
  color: @dark1;
}

#custom-power {
  font-size: 16px;
  padding: 6px;
}

#custom-power:hover {
  background-color: @light3;
  color: @dark1;
  transition: all ease-in 200ms;
}
