@define-color dark0        #1D2021;
@define-color dark1        #282828;
@define-color dark2        #3C3836;
@define-color dark3        #504945;
@define-color dark4        #665C54;

@define-color light1       #EBDBB2;
@define-color light2       #D5C4A1;
@define-color light3       #BDAE93;

@define-color bright-red   #FB4934;
@define-color bright-green #B8BB26;
@define-color bright-yellow #FABD2F;
@define-color bright-blue  #83A598;
