@import 'theme.css';

* {
  all: unset;
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 16px;
  color: @light2;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@dark1, 0.95);
  padding: 16px;
  border: 1px solid @dark2;
  border-radius: 8px;
}

.search-container {
  background: @dark2;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.input placeholder {
  opacity: 0.5;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected .item-box {
  background: alpha(@light3, 0.15);
  border-radius: 4px;
}

child:selected .item-box * {
  color: @light2;
}

.item-box {
  padding-left: 12px;
  border-radius: 4px;
  transition: background 150ms ease;
}

.item-box:hover {
  background: alpha(@dark3, 0.5);
}

.item-text-box {
  all: unset;
  padding: 10px 0;
}

.item-subtext {
  font-size: 12px;
  color: @light3;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 12px;
  -gtk-icon-transform: scale(0.85);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @dark2;
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
}

.preview {
  background: @dark2;
  border-radius: 4px;
  padding: 8px;
}
